* {
    box-sizing: border-box;
}

:root {
    --body-bg: rgb(0, 0, 0);
    --text-color: #fff;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
}

.menu {
    
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-bg);
    /* background: red;  */
}

.menu ul li {
    font-size: 5rem;
    font-weight: bolder;
    width: auto;
    /* background: black; */
    margin: 0 60vh;
}

.hamburger-react {
    z-index: 999;
}

.image-resize img{
    height: 30vw;
    width: auto;
    /* background: red; */
}

