* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

:root {
    --body-bg: #0c090a;
    --text-color: #fff;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
}

.menu {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-bg);
    /* background: red;  */
}

.skills {
    background: var(--body-bg);
    color: var(--text-color);
}

.menu ul li {
    font-size: 4rem;
    font-weight: bolder;
    width: auto;
    margin: 3vh 0;
}

.menu ul li:hover {
    font-size: 4rem;
    font-weight: bolder;
    width: auto;
    margin: 3vh 0;
}

.hamburger-react {
    z-index: 999;
}

.image-resize img{
    height: 70vh;
    width: 65vh;
    /* background: red; */
}

.tag {
    font-size: 3rem;
    font-weight: bold;
}

.contact {
    font-size: 12rem;
    font-family: 'Abril Fatface', serif;
}

.form-control {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.form-control::placeholder {
    color: rgb(185, 185, 185);
    /* font-weight: bold; */
}

.form-control:focus {
    border-bottom: 3px solid #ffffff;
    box-shadow: none;
}

.get.move-left {
    transform: translateX(-1000px);
    transition: transform 0.5s ease;
}

.touch.move-right {
    transform: translateX(1000px);
    transition: transform 0.5s ease;
}

.get-in {
    min-height: 500vh;
}