* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

:root {
    --body-bg: #0c090a;
    --text-color: #fff;
}

body {
    background: var(--body-bg);
    color: var(--text-color);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--body-bg);
    /* background: red;  */
}

.menu ul li {
    font-size: 5rem;
    font-weight: bolder;
    width: auto;
    /* background: black; */
    margin: 0 60vh;
}

.hamburger-react {
    z-index: 999;
}

.image-resize img{
    height: 35vw;
    /* width: 40vw; */
    /* background: red; */
}

.tag,
.contact {
    font-size: 3rem;
    font-weight: bold;
}

.form-control::placeholder {
    color: rgb(185, 185, 185);
    font-weight: bold;
  }
